@font-face {
  font-family: Pacifico-Regular;
  src: url("/assets/fonts/pacifico_regular.woff2");
}
@font-face {
  font-family: Patua-Regular;
  src: url("/assets/fonts/patua_regular.woff2");
}
@font-face {
  font-family: Poppins-medium;
  src: url("/assets/fonts/poppins_medium.woff2");
}
@font-face {
  font-family: Poppins-regular;
  src: url("/assets/fonts/poppins_regular.woff2");
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(242, 234, 233);
  color: rgb(42, 57, 143);
}

/* clases del nav -----------------------------------------------------*/
.menu {
  /* background-color: red; */
  height: 75px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* clases de label ---------------------------*/
.logo {
  margin: 0 3%;
}
.logo img {
  width: 3rem;
}

/* clases de ul */
.menu_items {
  width: 40%;
  /* background-color: aqua; */
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0 3%;
}
.menu_items li {
  margin: 0 2%;
}
.menu_items li a {
  text-decoration: none;
  font-family: Poppins-medium;
  font-size: small;
  display: block;
  color: rgb(42, 57, 143);
}
.menu_items li a:hover {
  color: rgba(7, 41, 233, 0.7);
  transition: 0.2s;
}
.btn_menu {
  padding-right: 3%;
  font-size: larger;
  cursor: pointer;
  display: none;
}

ul.mostrar {
  top: 65px;
  /* background-color: red; */
  transition: 0.4s;
}
/* --------------------------------------------- */

/* clases del titulo */
h1.bajar_titulo {
  /* background-color: aqua; */
  transition: 0.4s;
  padding-top: 75%;
}
.titulo {
  text-align: center;
  font-family: Patua-Regular;
}
.subtitulo {
  text-align: center;
  font-family: Pacifico-Regular;
  font-size: x-large;
  color: rgb(110, 113, 141);
}

/* --------------------------------------------- */
/* la seccion de imagenes */
.main {
  margin-top: 2%;
}
.card {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-containerImg {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-containerImg-img {
  width: 94%;
  height: 94%;
  object-fit: cover;
}

/* seccion media */
.text {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Pacifico-Regular;
  font-size: small;
  color: rgb(110, 113, 141);
}
.subtituloDos {
  margin-top: 2%;
  font-family: Patua-Regular;
  font-size: x-large;
  color: rgb(42, 57, 143);
}
.subtituloDos span {
  font-family: Pacifico-Regular;
  font-weight: lighter;
  color: rgb(81, 90, 161);
}
/* seccion media imagenes */
.boxImagenes {
  /* height: 600px; */
  margin-top: 3%;
}
.colPrinUno {
  display: flex;
  flex-direction: column;
}

.colPrinUno img {
  object-fit: cover;
  margin-bottom: 5%;
}

.colPrinDos {
}

.colPrinDos_secUno {
  height: 60%;
}
.colPrinDos_secDos {
  height: 40%;
  display: flex;
}

.secDos-content {
  border: 2px solid rgb(81, 90, 161);
  width: 95.5%;
  height: 90%;
  margin-top: 1.5%;
  margin-left: 3.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.colPrinDos_imagenes {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 97%;
}

.colPrinDos_imagenes img {
  width: 90%;
  height: 60%;
  object-fit: cover;
  margin-bottom: 5%;
}

.fraseLogo {
  background-color: rgb(110, 113, 142);
  width: 100%;
  height: 99%;
  color: white;
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fraseLogo h3 {
  padding-top: 15%;
  font-family: Patua-Regular;
  font-weight: lighter;
  font-size: 150%;
}

.fraseLogo h3 span {
  font-family: Pacifico-Regular;
}

.fraseLogo img {
  margin-top: 10%;
  width: 120%;
}

.secDos-content h4 {
  font-family: Patua-Regular;
  color: rgb(115, 117, 146);
  margin-top: 8%;
  margin-bottom: 3%;
  font-size: 25px;
}

.secDos-content p {
  font-family: Poppins-regular;
  text-align: center;
  color: rgb(110, 113, 141);
}

/* footer------------------------------------------------*/
.footer-container {
  background-color: rgb(42, 56, 143);
  color: white;
  text-align: center;
}

.logo-footer {
  margin-top: 1%;
  width: 4%;
  margin-bottom: 1%;
}

.fundacion {
  font-family: Patua-Regular;
  font-size: 1.2rem;
}

.menu_items-footer {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 20%;
  margin-right: 20%;
}

.menu_items-footer li {
  list-style: none;
}

.menu_items-footer li a {
  text-decoration: none;
  color: white;
  font-family: Poppins-medium;
  font-weight: lighter;
  font-size: small;
}

.politica {
  margin-top: 1%;
  font-family: Poppins-medium;
  font-weight: lighter;
  font-size: small;
  margin-bottom: 1.7%;
}
.hecho {
  font-family: Poppins-medium;
  font-weight: lighter;
  font-size: small;
}
.aliat {
  font-family: Poppins-medium;
  font-weight: lighter;
  font-size: small;
}

/* medias --------------------------------------------*/
@media screen and (max-width: 948px) {
  .menu_items {
    width: 50%;
  }
}
@media screen and (max-width: 759px) {
  .menu {
    height: 65px;
  }
  .logo img {
    width: 2rem;
  }
  .btn_menu {
    display: inline-flex;
  }
  .menu_items {
    position: absolute;
    width: 100vw;
    height: calc(50% - 65px);
    top: -100vh;
    text-align: center;
    flex-direction: column;
  }
  .menu_items li {
    margin: 30px 0 0 0;
    line-height: 30px;
  }
  .menu_items li a {
    font-size: x-small;
  }
  h1 {
    font-size: medium;
  }
  .subtitulo {
    font-size: medium;
  }
  .subtituloDos {
    font-size: medium;
    margin-left: 5%;
  }
  .boxImagenes {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .secDos-content {
    border: 2px solid rgb(81, 90, 161);
    width: 100%;
    height: 35%;
    margin-top: 1.5%;
    margin-left: 7%;
    margin-right: 3%;
    margin-bottom: 5%;
    padding-bottom: 10%;
  }
}

@media screen and (max-width: 1023px) {
  .colPrinUno {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1.5%;
  }
  .colPrinUno img {
    width: 48%;
    height: auto;
  }

  .secDos-content {
    width: 100%;
    height: auto;
  }

  .secDos-content h4 {
    font-size: 20px;
  }

  .secDos-content p {
    text-align: center;
    color: rgb(110, 113, 141);
  }
}

/* cards */
@media screen and (max-width: 1200px) {
  .main-order {
    display: flex;
  }
  .uno {
    order: 1;
  }
  .dos {
    order: 3;
    margin-top: 2%;
  }
  .tres {
    order: 2;
  }

  .colPrinDos_imagenes {
    width: 50%;
    height: auto;
  }
  .colPrinDos_frase {
    width: 50%;
    height: auto;
  }
  .secDos-content {
    margin-top: 3%;
  }

  .fraseLogo {
    height: 98%;
  }

  .fraseLogo h3 {
    padding-top: 25%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: Patua-Regular;
    font-weight: lighter;
    font-size: 100%;
  }

  .fraseLogo h3 span {
    font-family: Pacifico-Regular;
  }

  .fraseLogo img {
    margin-top: 30%;
    width: 100%;
  }

  .secDos-content h4 {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 25px;
  }

  .secDos-content p {
    text-align: center;
    color: rgb(110, 113, 141);
  }
}
