@font-face {
  font-family: Pacifico-Regular;
  src: url("/assets/fonts/pacifico_regular.woff2");
}
@font-face {
  font-family: Patua-Regular;
  src: url("/assets/fonts/patua_regular.woff2");
}
@font-face {
  font-family: Poppins-medium;
  src: url("/assets/fonts/poppins_medium.woff2");
}
@font-face {
  font-family: Poppins-regular;
  src: url("/assets/fonts/poppins_regular.woff2");
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}
body,
html {
  /* background-color: rgb(242, 234, 233);
  color: rgb(42, 57, 143); */
  background: #f2ebea;
  font-family: poppins regular, serif;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: overlay;
}

/* clases del header y nav -----------------------------------------------------*/
header {
  width: calc(100% - 100px);
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 65px;
  height: 65px;
  display: block;
}

.btn_menu {
  border: none;
  background: transparent;
  padding: 0;
  display: none;
  cursor: pointer;
  text-decoration: none;
}

.btn_menu i {
  width: 25px;
  height: 25px;
  display: block;
}

.menu {
  display: flex;
}

.btn_cerrar {
  margin: 0 0 0 auto;
  border: none;
  background: transparent;
  padding: 0;
  display: none;
  cursor: pointer;
  text-decoration: none;
  width: 25px;
  height: 25px;
}

.menu a {
  margin: 0 0 0 15px;
  color: #2b388f;
  font-family: Poppins-medium;
  display: block;
  cursor: pointer;
  text-decoration: none;
}

/* --------------------------------------------- */

.titulo {
  text-align: center;
  font-family: Patua-Regular;
}
.subtitulo {
  text-align: center;
  font-family: Pacifico-Regular;
  font-size: x-large;
  color: rgb(110, 113, 141);
}

/* --------------------------------------------- */
/* la seccion de imagenes */
.main {
  margin-top: 2%;
}
.card {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-containerImg {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-containerImg-img {
  width: 94%;
  height: 94%;
  object-fit: cover;
}

/* seccion media */
.text {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Pacifico-Regular;
  font-size: small;
  color: rgb(110, 113, 141);
}
.subtituloDos {
  margin-top: 2%;
  font-family: Patua-Regular;
  font-size: x-large;
  color: rgb(42, 57, 143);
}
.subtituloDos span {
  font-family: Pacifico-Regular;
  font-weight: lighter;
  color: rgb(81, 90, 161);
}
/* seccion media imagenes */
.boxImagenes {
  /* height: 600px; */
  margin-top: 3%;
}
.colPrinUno {
  display: flex;
  flex-direction: column;
}

.colPrinUno img {
  object-fit: cover;
  margin-bottom: 5%;
}

.colPrinDos {
}

.colPrinDos_secUno {
  height: 60%;
}
.colPrinDos_secDos {
  height: 40%;
  display: flex;
}

.secDos-content {
  border: 2px solid rgb(81, 90, 161);
  width: 100%;
  height: 90%;
  margin-top: 1.5%;
  margin-left: 3.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.colPrinDos_imagenes {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 97%;
}

.info {
  background-color: rgb(42, 56, 143);
  color: white;
  position: absolute;
  margin-left: 14%;
  margin-top: 19%;
  padding: 0.6%;
  border-radius: 10px;
  font-family: Poppins-regular;
  font-size: small;
  text-align: center;
}

.colPrinDos_imagenes img {
  width: 90%;
  height: 60%;
  object-fit: cover;
  margin-bottom: 5%;
}

.fraseLogo {
  background-color: rgb(110, 113, 142);
  width: 100%;
  height: 99%;
  color: white;
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fraseLogo h3 {
  padding-top: 15%;
  font-family: Patua-Regular;
  font-weight: lighter;
  font-size: 150%;
}

.fraseLogo h3 span {
  font-family: Pacifico-Regular;
}

.fraseLogo img {
  margin-top: 10%;
  width: 120%;
}

.secDos-content h4 {
  font-family: Patua-Regular;
  color: rgb(115, 117, 146);
  margin-top: 8%;
  margin-bottom: 3%;
  font-size: 25px;
}

.secDos-content p {
  font-family: Poppins-regular;
  text-align: center;
  color: rgb(110, 113, 141);
}

/* footer------------------------------------------------*/
.footer-container {
  background-color: rgb(42, 56, 143);
  color: white;
  text-align: center;
}

.logo-footer {
  margin-top: 1%;
  width: 4%;
  margin-bottom: 1%;
}

.fundacion {
  font-family: Patua-Regular;
  font-size: 1.2rem;
}

.menu_items-footer {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 20%;
  margin-right: 20%;
}

.menu_items-footer li {
  list-style: none;
}

.menu_items-footer li a {
  text-decoration: none;
  color: white;
  font-family: Poppins-medium;
  font-weight: lighter;
  font-size: small;
}

.politica {
  margin-top: 1%;
  font-family: Poppins-medium;
  font-weight: lighter;
  font-size: small;
  margin-bottom: 1.7%;
}
.hecho {
  font-family: Poppins-medium;
  font-weight: lighter;
  font-size: small;
}
.aliat {
  font-family: Poppins-medium;
  font-weight: lighter;
  font-size: small;
}

/* medias --------------------------------------------*/

@media screen and (max-width: 1024px) {
  header {
    width: calc(100% - 50px);
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 525px) {
  .btn_menu {
    display: block;
  }

  .menu {
    position: fixed;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    padding: 25px;
    top: 0;
    left: 0;
    background: #2b388f;
    transform: translateY(-100%);
    transition: all 0.3s ease;
    display: block;
  }

  nav.active {
    transform: none;
    position: fixed;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    padding: 25px;
    top: 0;
    left: 0;
    background: #2b388f;
    transition: all 0.3s ease;
  }

  .btn_cerrar {
    display: block;
    color: #fff;
  }

  .menu a {
    display: block;
    width: fit-content;
    color: #fff;
    margin: 15px auto 0 auto;
  }
}
